body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: thistle;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* .Container, .gitUser, .following-container {
  display: flex;
  justify-content: center;
  align-items: center;
} */
.Followers {
  margin-top: 10%;
}

input {
  margin: 2%;
  width: 50%;
  height: 2%;
}
